.main {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 1rem;
  min-height: 100vh;
  
}

.landingTop {
  min-height: 300px;
  padding: 1rem;
  padding-bottom: 3rem;
}

.landingSupport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.landingProduct {
  padding: 1rem;

}

.landingVision {
  padding: 1rem;
  
}

.landingTeam {
  padding: 1rem;

}

.landingConnect {
  padding: 1rem;

}

.landingTeamContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.landingTeamItem {
  width: 250px;
  flex-grow: 1;
  padding: 1.5rem;
  text-align: justify;

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.landingButtonTop {

  /*margin-top: 500px;*/



  border-radius: 10px;

  min-width: 150px;
  height: 50px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 10px;


  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 15px 15px;
  font-size: 16px;

}

.landingButtonTop:hover {
  background-color: rgb(230,230,255);
}

.landingTopTitle {
  font-size: 72px;
  font-weight: 800;
  background: -webkit-linear-gradient(rgb(52, 57, 220), rgb(83, 52, 220));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landingTopSubtitle {
  font-size: 36px;
  max-width: 800px;
  font-weight: 200;
}
