.main {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 1rem;
  min-height: 100vh;
  
}

.landingTop {
  height: 300px;
}

.landingSupport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landingProduct {
  padding: 1rem;

}

.landingVision {
  padding: 1rem;
  
}

.landingTeam {
  padding: 1rem;

}

.landingConnect {
  padding: 1rem;

}

